includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
    tmpDir: build/phpstan
    ignoreErrors:
        - '#has parameter \$request with generic class WP_REST_Request but does not specify its types#'
        - '#has parameter \$result with generic class WP_REST_Request but does not specify its types#'
