:root {
 --wp-login-color-bg-main: #f1f1f1;
 --wp-login-color-bg-form: #21252a;
 --wp-login-color-accent: #37aecc;
 --wp-login-color-text-light: #fff;
 --wp-login-color-text-dark: #21252a;
}

body.login {
 background: var(--wp-login-color-bg-main);
}

/* Login wrapper */
#login {
 h1 a {
  width: 100%;
  background: none;
  background-position: center center !important;
  background-repeat: no-repeat !important;
 }

 .message,
 .success {
   border-color: var(--wp-login-color-accent);
}

 #loginform, #lostpasswordform  {
  border: none;
  margin-top: 0;
  background: var(--wp-login-color-bg-form);

  label {
   color: var(--wp-login-color-text-light);
  }

  #wp-submit {
   background: var(--wp-login-color-accent);
  }

  input[type='text']:focus,
  input[type='password']:focus {
   border-color: var(--wp-login-color-accent);
  }
 }

 #nav a,
 #backtoblog a {
  color: var(--wp-login-color-text-dark);
  font-weight: bold;
 }
}

/* Wordfence 2fa prompt */
#wfls-prompt-overlay {
 align-items: flex-start;
 background: var(--wp-login-color-bg-form);

 .wfls-tooltip-trigger {
  color: var(--wp-login-color-accent);
 }

 #wfls-token-submit {
  background: var(--wp-login-color-accent);
 }
}
